* {
  margin: 0%;
  padding: 0%;
}
section {
  background-color: #1207ab;
  font-family: sans-serif;
  color: #ffffff;
  height: 70px;
  margin-top: -9px;
  margin-right: -10px;
}
.pop {
  background-color: white;
}
.register {
  margin-left: 350px;
}
.p {
  float: right;
}
.op {
  margin-left: 30px;
}
.dammy {
  display: flex;
  justify-content: flex-start;
  margin-left: 35px;
  margin-top: 40px;
  font-size: 40px;
  font-family: sans-serif;
}
h2 {
  font-family: verdana;
  font-size: 250%;
  font-weight: -20px;
}
.paragraph {
  color: dimgrey;
  font-size: small;
  margin-left: 37px;
  margin-top: 20px;
  font-weight: lighter;
}
.img {
  margin-left: 300px;
  margin-top: 30px;
  height: 400px;
}
div {
  margin-left: -590px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}
img {
  height: 200px;
}
.update {
  font-size: large;
  padding-top: 25px;
  padding-left: 35px;
}
a {
  background-color: black;
  color: whitesmoke;
  border-radius: 5px;
}
body {
  font-family: sans-serif;
}
button {
  border-color: #ffffff;
  border-radius: 5px;
  margin-right: 20px;
  height: -2px;
  margin-top: 0px;
  color: white;
  background-color: #1207ab;
}
.money {
  color: chocolate;
}
.me {
  display: flex;
  justify-content: center;
  margin-right: 500px;
  color: grey;
  margin-top: 10px;
  margin-left: 300px;
}
.green {
  background-color: #ffffff;
  color: black;
  border-bottom: 5px solid blue;
}
.blue {
  background-color: #ffffff;
  color: black;
  border-bottom: 5px solid blue;
}
.yellow {
  background-color: #ffffff;
  color: black;
  border-bottom: 5px solid blue;
}
.red {
  background-color: #ffffff;
  color: black;
  border-bottom: 5px solid blue;
}
.frcm {
  margin-left: 35px;
}
#monitor {
  font-size: 20px;
  margin-left: -730px;
  margin-top: 100px;
  opacity: 0.5;
}
.class {
  margin-left: 35px; 
}
.microsoft {
  margin-left: 35px;
}
.java {
  margin-left: 35px;
}
.python {
  margin-left: 35px;
}
.google {
  margin-left: 35px;
}
.eminent {
  margin-left: 0%;
  padding: -900px;
}
.cisco {
  margin-left: 35px;
}
.guy {
  margin: 0;
}

#myheader {
  font-size: 20px;
  margin-left: -730px;
  margin-top: 200px;
  opacity: 0.5;
}
.mesa {
  margin-left: 35px;
}
.contact {
  background-color: #ffffff;
  color: black;
  margin-left: 0px;
  
}
.samson {
  background-color: rgb(7, 0, 0);
  margin-left: 35px;
  margin-top: 20px;
  padding: 25px;
  padding-top: 10px;
  height: 30px;
}
.green:hover {
  border-bottom: hidden;
}
.blue:hover {
  border-bottom: hidden;
}
.red:hover {
  border-bottom: hidden;
}
.yellow:hover {
  border-bottom: hidden;
}
.mesa {
  margin-left: 35px;
}
.cloud {
  margin-left: 35px;
}
.ambiosh {
  margin-left: 35px;
}
.face {
  margin-left: 35px;
}
main {
  max-width: 100%;
}
body {
  max-width: 100%;
}