section {
  background-color: #1207ab;
  font-family: sans-serif;
  color: #ffffff;
  height: 70px;
  margin-top: -9px;
  margin-left: -17px;
  margin-right: -10px;
}
.pop {
  background-color: white;
}
.p {
  float: right;
}
.dammy {
  font-size: 40px;
  font-family: sans-serif;
}
h2 {
  font-family: verdana;
  font-size: 250%;
  font-weight: -20px;
}
.paragraph {
  color: dimgrey;
  font-size: small;
  font-weight: lighter;
}
img {
  margin-left: 500px;
  margin-top: 30px;
  height: 400px;
}
div {
  display: flex;
  justify-content:center;
  align-items:center;
  flex-direction: row;
}
.update {
  font-size: x-small;
  padding-top: 25px;
  padding-left: 35px;
}
a {
  background-color: black;
  color: whitesmoke;
  border-radius: 5px;
}
body {
  font-family: sans-serif;
}
button {
  float: right;
  border-color: #ffffff;
  border-radius: 5px;
  margin-right: 20px;
  height: -2px;
  margin-top: -23px;
  color: white;
  background-color: #1207ab;
}
.money {
  color: chocolate;
}
